  @import util.Global

div.dataTables_length select {
	width: 75px;
}



                   




table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('@Global.SERVER_URL_2@routes.Assets.at("img/sort_both.png")') no-repeat center right; }
table.table thead .sorting_asc { background: url('@Global.SERVER_URL_2@routes.Assets.at("img/sort_asc.png")') no-repeat center right; }
table.table thead .sorting_desc { background: url('@Global.SERVER_URL_2@routes.Assets.at("img/sort_desc.png")') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('@Global.SERVER_URL_2@routes.Assets.at("img/sort_asc_disabled.png")') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('@Global.SERVER_URL_2@routes.Assets.at("img/sort_desc_disabled.png")') no-repeat center right; }





            /*
             *    Responsive DataTables
             */

@@media (max-width: 979px) {
  table, thead, tbody, th, td, tr {
  display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
  }




  }













  .dataTables_wrapper {
  clear: both;
  zoom: 1; /* Feeling sorry for IE */
  }


  .dataTables_wrapper  .row {

  display: block;
  margin-left: auto;
  margin-right: auto;
 width:100%;
  border: 0px !important;

}


  .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
  }

  .dataTables_length {
  width: 50%;
  float: left;
  }





  .dataTables_filter {
  width: 49%;
  float: right;
  text-align: right;
  }


  @@media (max-width: 979px) {


  .dataTables_length {
width:100%
}

  .dataTables_filter {
  width: 100%;
  float: left;
  text-align: left;
  }

     }

  .dataTables_info {
margin-top: 5px;
  width: 50%;
  float: left;
  }

  .dataTables_paginate {
  float: right;
width: 49%;
  text-align: right;


  }

  .dataTables_paginate .next {

background-color:#ffe300;
}





  @@media (max-width: 979px) {

  .dataTables_info {
width:100%
}

  .dataTables_paginate {
  float: left;
width:100%;
  text-align: left;
  }
}



  /* Pagination nested */
  .paginate_disabled_previous, .paginate_enabled_previous,
  .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;






  }
  .paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
  .paginate_disabled_next:hover, .paginate_enabled_next:hover {
  text-decoration: none !important;
  }
  .paginate_disabled_previous:active, .paginate_enabled_previous:active,
  .paginate_disabled_next:active, .paginate_enabled_next:active {
  outline: none;
  }

  .paginate_disabled_previous,
  .paginate_disabled_next {
  color: #666 !important;
  }
  .paginate_disabled_previous, .paginate_enabled_previous {
  padding-left: 23px;
  }
  .paginate_disabled_next, .paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px;
  }





  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * DataTables display
  */
  table.table {
  margin: 0 auto;
  clear: both;
         width:100%;
float:left;
  /* Note Firefox 3.5 and before have a bug with border-collapse
  * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 )
  * border-spacing: 0; is one possible option. Conditional-css.com is
  * useful for this kind of thing
  *
  * Further note IE 6/7 has problems when calculating widths with border width.
  * It subtracts one px relative to the other browsers from the first column, and
  * adds one to the end...
  *
  * If you want that effect I'd suggest setting a border-top/left on th/td's and
  * then filling in the gaps with other borders.
  */
  }

  table.table thead th {
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  * cursor: hand;
  }

  table.table tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
  }

  table.table tr.heading2 td {
  border-bottom: 1px solid #aaa;
  }

  table.table td {
  padding: 3px 10px;
  }

  table.table td.center {
  text-align: center;
  }






  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Misc
  */
  .dataTables_scroll {
  clear: both;
  }

  .dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
  }

  .top, .bottom {
  padding: 15px;
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
  }

  .top .dataTables_info {
  float: none;
  }

  .clear {
  clear: both;
  }

  .dataTables_empty {
  text-align: center;
  }

  tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
  }

  tfoot input.search_init {
  color: #999;
  }

  td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
  }

  td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
  }


  .example_alt_pagination div.dataTables_info {
  width: 40%;
  }

  .paging_full_numbers {
  width: 400px;
  height: 22px;
  line-height: 22px;
  }

  .paging_full_numbers a:active {
  outline: none
  }

  .paging_full_numbers a:hover {
  text-decoration: none;
  }

  .paging_full_numbers a.paginate_button,
  .paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  }

  .paging_full_numbers a.paginate_button {
  background-color: #ddd;
  }

  .paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important;
  }

  .paging_full_numbers a.paginate_active {
  background-color: #99B3FF;
  }



  table.table tr.odd td {
 	color: @Application.getFontColor(Application.getLocalPortal().getDefaultcolor());
  background-color: @Application.getFontColor(Application.getFontColor(Application.getLocalPortal().getDefaultcolor()));
border: 0px !important;
  }

  table.table tr.even td {
  
   background-color:@Application.getBrighterColor(Application.getLocalPortal().getDefaultcolor());

color:@Application.getFontColor(Application.getBrighterColor(Application.getLocalPortal().getDefaultcolor()));

  border: 0px !important;
  }

 table.table thead{
 background-color:@Application.getLocalPortal().getDefaultcolor();
color:@Application.getFontColor(Application.getLocalPortal().getDefaultcolor());
}




.next{

       background-color:#ffe300 !important;

      }