logs
project/target
target
tmp
.history
dist
.target
.idea
.idea_modules
bin
RUNNING_PID
/.cache
/.cache-main
/.cache-tests
/nohup.out
/npm-debug.log
/test-db.h2.db
/test-db.trace.db
/dump/

**/.DS_Store