@(g:Game,gametypeForm: Form[_],errormessage: String)

@import helper._
@import helpers._
@import helper.twitterBootstrap._
@import util.Txt

@main(Txt.Quest() + " in Typ umwandeln","upload_game") {




		

        @* Display proprietary login form *@
    	@helpers.form(routes.Portal.doAddGameTypeFromGame(Application.getLocalPortal().getId(),g.getId()),'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
    	
    	
    	
    		@if(errormessage != ""){
    			<p class="error">
		            <span class="label label-important">@errormessage</span>
		        </p>
            }
    			
    		
    		
            @if(gametypeForm.hasGlobalErrors) {
                <p class="error">
		            <span class="label label-important">@gametypeForm.globalError.message</span>
		        </p>
            } 
            
            
            <h3>@Txt.Quest()-Typ Name</h3>
             @inputText(
                gametypeForm("name"),
                '_label -> "Typ Name"
             )

                 <br/>
                 
                 
            @checkbox(
                gametypeForm("makescene"),
                '_label -> "Szene statt Standard-Inhalt"
            )


            @checkbox(
                gametypeForm("onlyhotspots"),
                '_label -> "Nur Hotspots in Editor"

            )
            
            @checkbox(
                gametypeForm("onlyonehotspot"),
                '_label -> "Ein Hotspot pro Spiel?"

            )
            <br/>
                        <h3>Hotspottyp Name</h3>
            
              @inputText(
                gametypeForm("scenename"),
                '_label -> "Hotspottyp Name"
             )
            
            
            


                               <br/>
            <input type="submit" value="Erstellen" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes") !=""))>
  	
}




}