@(uploadForm: Form[_], portal: ProviderPortal,errormessage:String)

@import helper._
    @import helpers._
@import helper.twitterBootstrap._

@main(Application.getLanguage("Editieren")+" ("+portal.getName+"//"+portal.getId+")","edit_portal") {




<script language="JavaScript" type="text/javascript">
        <!--
                                                                function showDiv(element){
                                                                  document.getElementById(element).style.display = 'block';
                                                                 }

                                                                function hideDiv(element){

                                                                       document.getElementById(element).style.display = 'none';
                                                                }
                                                                //-->
</script>



@helpers.form(routes.Portal.doEditPortal(Application.getLocalPortal().getId(),portal.getId),'class -> "form-horizontal", 'enctype -> "multipart/form-data") {

  @if(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.tabs.type") =="button-group"){

    <div class="btn-group inline">
    <li onclick="javascript:showDiv('generalinfo'); hideDiv('rechtliches'); hideDiv('erweitert'); hideDiv('verschluesselung'); hideDiv('layout');" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes") !=""))>@Application.getLanguage("Allgemein")    </li>
    <li onclick="javascript:showDiv('verschluesselung'); hideDiv('rechtliches'); hideDiv('erweitert'); hideDiv('generalinfo'); hideDiv('layout');" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes") !=""))>@Application.getLanguage("Verschlüsselung") </li>
    <li onclick="javascript:showDiv('layout'); hideDiv('rechtliches'); hideDiv('erweitert'); hideDiv('verschluesselung'); hideDiv('generalinfo');" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes") !=""))>@Application.getLanguage("Layout") </li>
    <li onclick="javascript:showDiv('rechtliches'); hideDiv('layout'); hideDiv('erweitert'); hideDiv('verschluesselung'); hideDiv('generalinfo');" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes") !=""))>@Application.getLanguage("Rechtliches") </li>
    <li onclick="javascript:showDiv('erweitert'); hideDiv('rechtliches'); hideDiv('verschluesselung'); hideDiv('generalinfo'); hideDiv('layout');" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes") !=""))>@Application.getLanguage("Erweitert")</li>

   </div>
    <span>
        <input type="submit" value="@Application.getLanguage("Abspeichern")" class="btn btn-primary")>

    </span>

               <br/>

  } else {

      <ul @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.navtabs.attributes") !=""))>
      <li><a href="javascript:showDiv('generalinfo'); hideDiv('rechtliches'); hideDiv('erweitert'); hideDiv('verschluesselung'); hideDiv('layout');">@Application.getLanguage("Allgemein")</a>    </li>
      <li><a href="javascript:showDiv('verschluesselung'); hideDiv('rechtliches'); hideDiv('erweitert'); hideDiv('generalinfo'); hideDiv('layout');">@Application.getLanguage("Verschlüsselung")</a>   </li>
      <li><a href="javascript:showDiv('layout'); hideDiv('rechtliches'); hideDiv('erweitert'); hideDiv('verschluesselung'); hideDiv('generalinfo');">@Application.getLanguage("Layout")</a>   </li>
       <li><a href="javascript:showDiv('rechtliches'); hideDiv('layout'); hideDiv('erweitert'); hideDiv('verschluesselung'); hideDiv('generalinfo');">@Application.getLanguage("Rechtliches")</a>   </li>
      <li><a href="javascript:showDiv('erweitert'); hideDiv('rechtliches'); hideDiv('verschluesselung'); hideDiv('generalinfo'); hideDiv('layout');">@Application.getLanguage("Erweitert")</a>   </li>
      <li></li><div style="display:inline-block; padding-left:50px;">    <input type="submit" value="@Application.getLanguage("Abspeichern")" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes") !=""))>

      </div>   </li>        </ul>



  }


    <div class="hero-unit center">
    
    @if(errormessage != ""){
    			<p class="error">
		            <span class="label label-important">@Application.getLanguage(errormessage)</span>
		        </p>
            }
    	

    @if(uploadForm.hasGlobalErrors) {
        <p class="error">
            <span class="label label-important">@Application.getLanguage(uploadForm.globalError.message)</span>
        </p>
    }


    <div id="generalinfo" name="generalinfo"  style="display:block;">
        @inputText(
            uploadForm("name"),
            '_label -> Application.getLanguage("Portalname")
        )

        <br/>

        @checkbox(
            uploadForm("autoverify"),
            '_label -> Application.getLanguage("User automatisch zulassen")

        )

        <br/>
        @textarea(
            uploadForm("htmlurl"),
            '_label -> Application.getLanguage("Template URL")
        )
        <br/>




    </div>


    <div id="verschluesselung" style="display:none;">




        @inputText(
            uploadForm("formname"),
            '_label -> Application.getLanguage("HTML-Formular-Name mit Login-Feldern")
        )
        <br/>

        @inputText(
            uploadForm("userfield"),
            '_label -> Application.getLanguage("HTML-Usernamefeld-Name")
        )
        <br/>
        @inputText(
            uploadForm("user"),
            '_showConstraints -> false,
            '_label -> Application.getLanguage("Username")
        )
        <br/>
        @inputText(
            uploadForm("pwfield"),
            '_label -> Application.getLanguage("HTML-Passwortfeld-Name")
        )
        <br/>

       @inputPassword(
                                    uploadForm("password"),
                                    '_showConstraints -> false,
                                    '_label -> Application.getLanguage("Passwort (wird nur neu gesetzt, wenn neue Eingabe gemacht wird)")
                                )

        <br/>

        @inputText(
            uploadForm("submitbutton"),
            '_label -> Application.getLanguage("HTML-Submitbutton-Name")
        )


        <br/>

        @textarea(
            uploadForm("afterloginurl"),
            '_label -> Application.getLanguage("Nach erfolgreichem Einloggen URL aufrufen:")
        )




    </div>


    <div id="erweitert" style="display:none;">


        @textarea(
            uploadForm("mappingurl"),
            '_label -> Application.getLanguage("Mapping-Datei-URL:")
        )
        <br/>

        @textarea(
            uploadForm("customserverurl"),
            '_label -> Application.getLanguage("Eigene Server-URL (Redirecter-URL):")
        )
        <br/>

        @textarea(
            uploadForm("posturl"),
            '_label -> Application.getLanguage("Blog-Connector-URL:")
        )

    </div>
    
    
     <div id="rechtliches" style="display:none;">


   @textarea(
            uploadForm("portalimprint"),
            '_label -> Application.getLanguage("Portal Impressum:")
        )
        <br/>
        

        @textarea(
            uploadForm("portalagbs"),
            '_label -> Application.getLanguage("Portal AGBs:")
        )
        <br/>
       <label for="portalagbsversion"> @Application.getLanguage("Portal AGBs") @Application.getLanguage("Version"):</label>
        <input type="number" name="portalagbsversion" id="portalagbsversion" value="@uploadForm("portalagbsversion").value">
        <br/>

        @textarea(
            uploadForm("portalprivacyagreement"),
            '_label -> Application.getLanguage("Portal Datenschutz-Vereinbarung:")
        )
        <br/>
        <label for="portalprivacyagreementversion"> @Application.getLanguage("Portal Datenschutz-Vereinbarung") @Application.getLanguage("Version"):</label>
        <input type="number" name="portalprivacyagreementversion" id="portalprivacyagreementversion" value="@uploadForm("portalprivacyagreementversion").value">
        <br/>





        @textarea(
            uploadForm("imprint"),
            '_label -> Application.getLanguage("App Impressum:")
        )
        <br/>
        

        @textarea(
            uploadForm("agbs"),
            '_label -> Application.getLanguage("App AGBs:")
        )
        <br/>
       <label for="agbsversion"> @Application.getLanguage("App AGBs") @Application.getLanguage("Version"):</label>
        <input type="number" name="agbsversion" id="agbsversion" value="@uploadForm("agbsversion").value">
        <br/>

        @textarea(
            uploadForm("privacyagreement"),
            '_label -> Application.getLanguage("App Datenschutz-Vereinbarung:")
        )
        <br/>
        <label for="privacyagreementversion"> @Application.getLanguage("App Datenschutz-Vereinbarung") @Application.getLanguage("Version"):</label>
        <input type="number" name="privacyagreementversion" id="privacyagreementversion" value="@uploadForm("privacyagreementversion").value">
        <br/>

    </div>



        <div id="layout" style="display:none;">


            <div class="clearfix  " id="color_field">
                <label for="color">@Application.getLanguage("Standard-Farbe"):</label>
                <div class="input">

                    <input type="color" id="color" name="color" value="@uploadForm("color").value" >

                    <span class="help-inline"></span>
                    <span class="help-block"></span>
                </div>
            </div>
            <br/>

            <div class="clearfix  " id="color_field">
                <label for="color_2">@Application.getLanguage("Komplementär-Farbe"):</label>
                <div class="input">

                    <input type="color" id="color_2" name="color_2" value="@uploadForm("color_2").value" >

                    <span class="help-inline"></span>
                    <span class="help-block"></span>
                </div>
            </div>

            <br/>

            <div class="clearfix  " id="color_field">
                <label for="color_3">@Application.getLanguage("Verlaufs-Farbe"):</label>
                <div class="input">

                    <input type="color" id="color_3" name="color_3" value="@uploadForm("color_3").value" >

                    <span class="help-inline"></span>
                    <span class="help-block"></span>
                </div>
            </div>

            <br/>

            <div class="clearfix  " id="color_field">
                <label for="color_4">@Application.getLanguage("Hintergrund-Farbe"):</label>
                <div class="input">

                    <input type="color" id="color_4" name="color_4" value="@uploadForm("color_4").value" >

                    <span class="help-inline"></span>
                    <span class="help-block"></span>
                </div>
            </div>

            <br/>

            <div class="clearfix  " id="color_field">
                <label for="color_5">@Application.getLanguage("Link-Farbe"):</label>
                <div class="input">

                    <input type="color" id="color_5" name="color_5" value="@uploadForm("color_5").value" >

                    <span class="help-inline"></span>
                    <span class="help-block"></span>
                </div>
            </div>

            <br/>


            @inputFile(uploadForm("logo"), '_display -> "Attachment", '_label -> Application.getLanguage("Logo-Datei (*.jpg,*.png)") )

            <br/>

            @textarea(
                uploadForm("addcss"),
                '_label -> Application.getLanguage("CSS (wird in Header eingefügt):")
            )




     </div>
        </div>



    }




    }




