@(gamesList: Set[GameRights])

@import util.Global

@main(Application.getLanguage("Meine Spiele")) {



@Portal.sayTime("Mygames #4")

<br/>
<div class="alert alert-danger" style="display:none;">
  <strong>@Application.getLanguage("Achtung!")</strong>@Application.getLanguage("Aktuell kann es auf Grund von Entwicklungsarbeiten zu kurzzeitigen Serverausfällen oder unerwartetem Verhalten kommen.")
</div>

<br/>


    <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.uploadGame(Application.getLocalPortal().getId()))" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.speciallinks.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.speciallinks.attributes") !=""))>
    @Application.getLanguage("Neues Spiel erstellen")</a>


    @if(gamesList.isEmpty() == true){
                <br/>
                @Application.getLocalPortal.getLanguageParameter("Du_hast_keine_Spiele")
                <br/>
                
            } else {
                <div class="container" style="margin-top: 10px">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>@Application.getLanguage("Name")</th>
                            <th class="date-sort">@Application.getLanguage("Letztes Update")</th>
                            <th>@Application.getLanguage("Spieltyp")</th>
                            <th class="no-sort">@Application.getLanguage("Download")</th>
                            <th class="no-sort">@Application.getLanguage("Optionen")</th>
                            
                                                        <th>@Application.getLanguage("Info")</th>
                            
                        </tr>
                    </thead>

                    <tbody>

@Portal.sayTime("Mygames #5")



@defining((Application.getLanguage("dd.MM.yyyy HH:mm"),
	Application.getLanguage("Download"),
	Application.getLanguage("Noch keine XML-Daten"),
	Application.getLanguage("Editor aufrufen"),
	Application.getLanguage("Administration"),
	Application.getLanguage("Duplizieren"),
	Application.getLanguage("Wirklich löschen?"),
	Application.getLanguage("Löschen"),
	Application.getLanguage("Keine Rechte"),
	Application.getLanguage("In Spieltyp umwandeln"))
	
	) { case (pre_date, pre_download, pre_nochkeinedaten, pre_editoraufrufen, pre_admin, pre_duplizieren,pre_reallydelete, pre_delete , pre_keinerechte ,pre_inspieltyp) =>





                    @for(a_game <- gamesList){

                        <tr class="gradeA">
                           
                            <td>@a_game.getGame().getName()</td>
                            <td>                            
                            @a_game.getGame().getLastUpdate().format(pre_date) 
                            (@controllers.Portal.getNameOfLastReleaseUser(a_game.getGame()))</td>
                             <td>                            
                         @Application.getLanguage(a_game.getGame().getType().getName()) </td>
                         
                         
                            <td class="center">
                              @if(a_game.getGame().hasFile()){
                            
                            <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Editor.getXMLForClient(a_game.getGame().getId())">@pre_download</a>
                           } else { @pre_nochkeinedaten }
                           
                           
                            </td>
                            
                            
                            <td class="center"> @if(a_game.getRights() == "write"){
                           
                            	
                            	
                            	
 					 @if(!a_game.getGame().hasGameType()){
 					 	| 

                                <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.editGame(Application.getLocalPortal().getId(),a_game.getGame().getId()))">@Application.getLanguage("Editdieren")</a>


						} else {
						
						  <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Editor.getEditor(a_game.getGame().getId()))">@pre_editoraufrufen</a>
						  }
						  
						  

                                | <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.gameRightsonPortal(Application.getLocalPortal().getId(),a_game.getGame().getId()))">@pre_admin</a>
								
								 | <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.doCopyGame(Application.getLocalPortal().getId(),a_game.getGame().getId()))">@pre_duplizieren</a>
								
                            	
                            	
                        | <a href="javascript:confirm('@pre_reallydelete')?window.location.href = '@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.doDeleteGame(Application.getLocalPortal().getId(),a_game.getGame().getId()))':void(0);">@pre_delete</a>
                        
                        
                        
                        
                     
                     
@defining(Application.getLocalUser(session())) { user =>



@if(Global.securityGuard.hasAdminRightsOnPortal(user)==true){
	
| <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.addGameTypeFromGame(Application.getLocalPortal().getId(),a_game.getGame().getId()))">@pre_inspieltyp</a>
                            	
                            	 }
                            	 
                            	
                            	
                            	
                            	
                            	}
                            	

                            } else {
		@pre_keinerechte
                            } </td>
                            
                             <td>
                            
                            

@if(!Application.getLocalPortal.hasGameType(a_game.getGame().getType)){ 
	
	
	@if(a_game.getRights() == "write"){
		<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.gameRightsonPortal(Application.getLocalPortal().getId(),a_game.getGame().getId())">
		
		}
	
	
	<img src="@Global.SERVER_URL_2@routes.Assets.at("img/symbols/alert.png")" />
	
	@if(a_game.getRights() == "write"){
		</a>
		}
	
	 }
                            
                            
                            @a_game.getGame().getId()</td>
                        </tr>





                    }



}

@Portal.sayTime("Mygames #6")

                    </tbody>
                </table>
                    </div>
            }


}