@(provider: ProviderPortal)

    @import helper._
    @import helpers._

@main("User-Rechte") {


    @defining(Application.getLocalUser(session())) { user =>



            @if(provider.getUsers().isEmpty() == true){
                Keine User
            } else {

                <div class="gq_container" style="margin-top: 10px">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Rechte</th>
                                <th class="no-sort">Optionen</th>
                            </tr>
                        </thead>

                        <tbody>


                    @for(a_user <- provider.getUsers()){
                            <tr>

                                <td>@a_user.getUser.getName() @if(Application.getLocalUser().isAdminOnPortalOne()){( @a_user.getUser().getPremiumStatus()
                                @if(a_user.getUser().getPremiumStatus().equals("All Access")){ until @a_user.getUser().getCurrentAccess().getValidUntil().format("dd.MM.yyyy") }
                                	<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.givePremiumAccess(a_user.getUser.getId,1)">Add one months All Access</a> )}</td>



                                        @if(a_user.getRights() == "admin"){

                                            <td>Admin</td>
                                            <td>
                                                @if(a_user.getUser.getId != user.getId){<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doEditUserRightsOnPortal(Application.getLocalPortal.getId(),provider.getId(),a_user.getUser.getId,"user")">Auf User reduzieren</a>  - <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doDeleteUserRightsOnPortal(Application.getLocalPortal.getId(),provider.getId(),a_user.getUser.getId)">Alle Rechte entziehen</a>}
                                              </td>

                                        } else {


                                            @if(a_user.getRights() == "user"){


                                                <td>User</td>
                                                <td>
                                                @if(a_user.getUser.getId != user.getId){<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doEditUserRightsOnPortal(Application.getLocalPortal.getId(),provider.getId(),a_user.getUser.getId,"admin")">Admin-Rechte geben</a>  - <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doDeleteUserRightsOnPortal(Application.getLocalPortal.getId(),provider.getId(),a_user.getUser.getId)">Alle Rechte entziehen</a>}
                                                  </td>
                                            } else {

                                                <td><i>Unverified</i></td>
                                                <td>
                                                    @if(a_user.getUser.getId != user.getId){<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doEditUserRightsOnPortal(Application.getLocalPortal.getId(),provider.getId(),a_user.getUser.getId,"user")">User-Rechte geben</a>  - <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doEditUserRightsOnPortal(Application.getLocalPortal.getId(),provider.getId(),a_user.getUser.getId,"admin")">Admin-Rechte geben</a> - <a href="javascript:confirm('Antrag wirklich ablehnen?')?window.location.href = '@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doDeleteUserRightsOnPortal(Application.getLocalPortal.getId(),provider.getId(),a_user.getUser.getId)':void(0);">Antrag ablehnen</a>}
                                                 </td>

                                            }



                                        }
                                        
                                        
                                        
                                       



                                </tr>

                    }

                        </tbody>
                    </table>


                </div>
                    }



    }



}
