@(newsList: List[NewsstreamItem])

    @import be.objectify.deadbolt.java.views.html._
    @import be.objectify.deadbolt.core.utils.TemplateUtils._
@import util.Global

@main(Application.getLocalPortal.getLanguageParameter("Newsstream")) {





            @if(newsList.isEmpty() == true){
                @Application.getLanguage("Keine Neuigkeiten.")
            } else {

                    <ul>


                    @for(a_news <- newsList){

                        <div class="hero-unit center">

                        @if(a_news.getPosterClass=="user"){

                          <b>@User.find.byId(a_news.getPosterid).getName</b> @Application.getLanguage(a_news.getText) <br/>( @a_news.getDatum().format(Application.getLanguage("dd.MM.yyyy HH:mm"))

                                @subjectPresent(){
                                        @if(Application.getLocalUser(session()).getId() == a_news.getPosterid()){
                                             - <a href="@routes.Portal.doDeleteNewsItem(Application.getLocalPortal.getId(),a_news.getId)">@Application.getLanguage("Löschen")</a>
                                        }
                                }
                                )

                        }   else {


                            @if(a_news.getPosterClass=="portal"){

                               <b>@User.find.byId(a_news.getPosterid).getName</b> @Application.getLanguage(a_news.getText) <br/>( @a_news.getDatum().format(Application.getLanguage("dd.MM.yyyy HH:mm"))
                                    @if(Global.securityGuard.hasAdminRightsOnPortalX(Application.getLocalUser(session()),ProviderPortal.find.byId(a_news.getPosterid))){
                                        - <a href="@routes.Portal.doDeleteNewsItem(Application.getLocalPortal.getId(),a_news.getId)">@Application.getLanguage("Löschen")</a>
                                }
                                    )



                            } else {



                                @if(a_news.getPosterClass=="game"){





                                } else {





                                    <a href="@routes.Portal.doDeleteNewsItem(Application.getLocalPortal.getId(),a_news.getId)">@Application.getLanguage("Löschen")</a>
                                }

                            }
                        }
                        </div>
                    }

                    </ul>

            }


}