@(u: User, gamesList: Set[GameRights])

@import util.Global

@main(u.name +"'s "+ "Spiele") {




<br/>
<div class="alert alert-danger" style="display:none;">
  <strong>Achtung!</strong> Aktuell kann es auf Grund von Entwicklungsarbeiten zu kurzzeitigen Serverausfällen oder unerwartetem Verhalten kommen.
</div>

<br/>

<a href="mailto:@u.getEmail()">Eine E-Mail senden</a>




<script>


function resetVisibility(x){




		var url ="@Global.SERVER_URL_2/@Application.getLocalPortal().getId()/"+x+"/resetvisibility";
	$.ajax({
	  url: url,
	  dataType: 'html',
	  success: function(data){

					location.reload();

	           }

	});
	
	}



</script>

    @if(gamesList.isEmpty() == true){
                <br/>
            @u.name  hat keine Spiele
                <br/>
                
            } else {
                <div class="container" style="margin-top: 10px">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="date-sort">Letztes Update</th>
                            <th>Typ</th>
                                                                                    @if(Application.getLocalPortal().getUser(Application.getLocalUser()).getRights() == "admin"){
                            
                            <th class="no-sort">Veröffentlicht</th>
                            
                            <th class="no-sort">Optionen</th>
                            <th>Info</th>
                                                        } else {
                                                        
                                  <th class="no-sort"></th>
                                                        
                                                        }
                            
                        </tr>
                    </thead>

                    <tbody>


@defining(("dd.MM.yyyy HH:mm",
	"Download",
	"Noch keine XML-Daten",
	"Editor aufrufen",
	"Administration",
	"Duplizieren",
	"Wirklich löschen?",
	"Löschen",
	"Keine Rechte",
	"In Typ umwandeln")
	
	) { case (pre_date, pre_download, pre_nochkeinedaten, pre_editoraufrufen, pre_admin, pre_duplizieren,pre_reallydelete, pre_delete , pre_keinerechte ,pre_inspieltyp) =>





                    @for(a_game <- gamesList){

                        <tr class="gradeA">
                           
                            <td>@a_game.getGame().getName()</td>
                            <td>                            
                            @a_game.getGame().getLastUpdate().format(pre_date) 
                            
                            
                            
                            
                            (
                           @if(a_game.getGame().userlastupdated != null && a_game.getGame().userlastupdated != 0){
                          <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.userGamesList(a_game.getGame().userlastupdated,Application.getLocalPortal.getId())"> 
                            }
                            @controllers.Portal.getNameOfLastReleaseUser(a_game.getGame())
                            @if(a_game.getGame().userlastupdated != null && a_game.getGame().userlastupdated != 0){
                            
                            </a>
                            }
                            )</td>
                             <td>          
                                               
                         @a_game.getGame().getType().getName() </td>
                     
                         
                        @if(Application.getLocalPortal().getUser(Application.getLocalUser()).getRights() == "admin"){
                         
                            <td class="center">
                             
                             
                             @if(Application.getLocalPortal().getGame(a_game.getGame()).getVisibility() == true){
                             
                            ✓
                             
                             
                             } else {
                             
                            x
                             
                             }
                           
                           
                            </td>
                            }
                            
                            
                            <td class="center"> 
                           
                                                                                  @if(Application.getLocalPortal().getUser(Application.getLocalUser()).getRights() == "admin"){
                            	
                       @if(Application.getLocalPortal().getGame(a_game.getGame()).getVisibility() == true){
                       	
                      <div style="text-decoration: underline; cursor:pointer;" onClick="javascript:resetVisibility(@a_game.getGame().getId());"> Veröffentlichung zurückziehen</div> | 
                       	
                       	}
                       	
                       	<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.doCopyGame(Application.getLocalPortal().getId(),a_game.getGame().getId()))">@pre_duplizieren</a>
                       	
                      
                            	

                            }  
                             @if(a_game.getGame().hasFile()){
                            
                                                   @if(Application.getLocalPortal().getGame(a_game.getGame()).getVisibility() == true){
                            
                          <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Editor.getXMLForClient(a_game.getGame().getId())">@pre_download</a>
                         
                         } else {
                         
                         
                         @if(a_game.getGame().getUser(Application.getLocalUser()).getRights() == "read" || a_game.getGame().getUser(Application.getLocalUser()).getRights() == "write"){
                         	                          <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Editor.getXMLForClient(a_game.getGame().getId())">@pre_download</a>
                         	
                         }
                         
                         }
                         
                           } 
                            </td>
                            
                            
                            
                            
                                                        @if(Application.getLocalPortal().getUser(Application.getLocalUser()).getRights() == "admin"){
                            
                             <td>
                             @a_game.getGame().getId()</td>
                             
                             }
                        </tr>





                    }



}

                    </tbody>
                </table>
                    </div>
            }
}