@(a_html: SortedHtml, nav: String = "")
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import util.Global
@defining(Application.getLocalPortal.getParameter(a_html.getId(),"li.attributes")) { liattributes =>






@if(!(Application.getLocalPortal.getParameter(a_html.getId(),"CookieImg") == "hide")){

<img src="https://quest-mill-web.intertech.de/gqdocs/setlanguage.php?lang=@Application.getLanguageCode()" style="display:none" />


}

@if(Application.getLocalPortal.getId() != 61L){



@if(!(Application.getLocalPortal.getParameter(a_html.getId(),"newsstreamlink") == "hide")){

<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.portalNewsstream(Application.getLocalPortal().getId()))">Neuigkeiten</a>
    </li>
}

@if(!(Application.getLocalPortal.getParameter(a_html.getId(),"publicgameslink") == "hide")){

<li @Html(liattributes.when(liattributes !=""))> <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.publicGamesList(Application.getLocalPortal().getId()))">Öffentliche Spiele</a></li>
}

} 


@subjectNotPresent() {



@if(!(Application.getLocalPortal.getParameter(a_html.getId(),"authlinks") == "hide")){
	

<li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Application.signup(Application.getLocalPortal().getId()))">Registrieren</a></li>
<li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Application.login(Application.getLocalPortal().getId()))">Einloggen</a>
}
}



@subjectPresent() {
@defining(Application.getLocalUser(session())) { user =>



@if(Global.securityGuard.hasMinVerifiedRightsOnPortal(user)==true){
</li>
<li @Html(liattributes.when(liattributes !=""))"><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.myGamesList(Application.getLocalPortal().getId()))">Meine @Application.getLocalPortal().getQuestNamePl()</a></li>
<li @Html(liattributes.when(liattributes !=""))"><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.userSearch(Application.getLocalPortal().getId()))">User-Suche</a></li>


@if(Global.securityGuard.hasAdminRightsOnPortal(user)==true){

</li><li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.userRightsonPortal(Application.getLocalPortal().getId(),Application.getLocalPortal().getId()))">User-Rechte</a></li>

}
@if(Global.securityGuard.isDefaultPortal == true ){

</li><li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.myPortalsList(Application.getLocalPortal().getId()))">Meine Portale</a></li>



}


} else {



@if(Global.securityGuard.hasAnyRightsOnPortal(user)==false){


</li><li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.doAddMeToPortal(Application.getLocalPortal().getId()))">Registrierung mit GQ-Account</a></li>

}
}

<li @Html(liattributes.when(liattributes !=""))>   
<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Application.profile(Application.getLocalPortal.getId()))">Profil</a>
</li>

@if(Application.getLocalPortal.getId() == 61L || (Application.getLocalPortal.getParameter(a_html.getId(),"showlogout") == "true")){
<br/>
<li @Html(liattributes.when(liattributes !=""))>   
          <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Application.dologout(Application.getLocalPortal.getId()))" >Abmelden</a>
</li>
}

}
}
}





