@(a_html: SortedHtml, nav: String = "")
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import util.Global
@defining(Application.getLocalPortal.getParameter(a_html.getId(),"li.attributes")) { liattributes =>








<img src="https://quest-mill.com/geoquest/setlanguage.php?lang=@Application.getLanguageCode()" style="display:none" />




@if(Application.getLocalPortal.getId() != 61L){



@if(!(Application.getLocalPortal.getParameter(a_html.getId(),"newsstreamlink") == "hide")){

<a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.portalNewsstream(Application.getLocalPortal().getId()))">
@Application.getLanguage("Neuigkeiten")
</a></li>
}

@if(!(Application.getLocalPortal.getParameter(a_html.getId(),"publicgameslink") == "hide")){

<li @Html(liattributes.when(liattributes !=""))> <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.publicGamesList(Application.getLocalPortal().getId()))">
@Application.getLanguage("Öffentliche Spiele")
</a></li>
}

} 


@subjectNotPresent() {



@if(!(Application.getLocalPortal.getParameter(a_html.getId(),"authlinks") == "hide")){
	

<li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Application.signup(Application.getLocalPortal().getId()))">@Application.getLanguage("Registrieren")</a></li>
<li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Application.login(Application.getLocalPortal().getId()))">@Application.getLanguage("Einloggen")</a>
}
}



@subjectPresent() {
@defining(Application.getLocalUser(session())) { user =>



@if(Global.securityGuard.hasMinVerifiedRightsOnPortal(user)==true){
</li>
<li @Html(liattributes.when(liattributes !=""))"><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.myGamesList(Application.getLocalPortal().getId()))">
@Application.getLanguage("Meine Spiele")
</a></li>



@if(Global.securityGuard.hasAdminRightsOnPortal(user)==true){

</li><li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.userRightsonPortal(Application.getLocalPortal().getId(),Application.getLocalPortal().getId()))">@Application.getLanguage("User-Rechte")</a></li>

}
@if(Global.securityGuard.isDefaultPortal == true ){

</li><li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.myPortalsList(Application.getLocalPortal().getId()))">@Application.getLanguage("Meine Portale")</a></li>



}


} else {



@if(Global.securityGuard.hasAnyRightsOnPortal(user)==false){


</li><li @Html(liattributes.when(liattributes !=""))><a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Portal.doAddMeToPortal(Application.getLocalPortal().getId()))">@Application.getLanguage("Registrierung mit GQ-Account")</a></li>

}
}

@if(Application.getLocalPortal.getId() == 61L || (Application.getLocalPortal.getParameter(a_html.getId(),"showlogout") == "true")){
<li @Html(liattributes.when(liattributes !=""))>   
          <a href="@Application.getLocalPortal.getTemplateServerURLDropSlash@Application.getLocalPortal.getPathTo(routes.Application.dologout(Application.getLocalPortal.getId()))" >@Application.getLanguage("Abmelden")</a>
</li>
}

}
}
}





