@(g:Game, a_part:models.GameParts.Part)

@import models.GameParts._

@import util.Global;
    
    
    <div id="onepartinsidemenu_@a_part.getId()" style="cursor:pointer;">
             @if(!a_part.isScene()){
              		
              		  @defining(a_part.getMission()) { m =>
               
             <div class="missioninview" id="listmission@m.getId" style="white-space:nowrap">  
             
               <i class="icon-file" style="display:inline-block;"  onClick="javascript:openMission(@m.getId())" ></i>
				<div id="listmissionname@m.getId" onClick="javascript:openMission(@m.getId())"  style="display:inline-block; white-space: nowrap;    position:relative; ">
					@m.getName()  &nbsp; 
               </div>
                <div style="cursor:pointer; display:inline-block;" onClick="javascript:movePartInSideMenu(@a_part.getId, 'up');">^</div>
               	<div style="cursor:pointer; display:inline-block;" onClick="javascript:movePartInSideMenu(@a_part.getId, 'down');">v</div>
                @if(a_part.isDeletable){
                <i class="icon-minus-sign"  style="display:inline-block;" onClick="javascript:deleteItem('Part',@a_part.getId,'mission',@m.getId)"></i> 
           }
               </div>
               }
              
              		} else {
              		
              		  @defining(a_part.getScene()) { s =>
              	
              		 <div class="missionlink" id="listscene@s.getId" onClick="
              			
                  		 javascript:hideAddEditMissions(); hidePlayer();
                		document.getElementById('sceneedit@s.getId()').style.display = 'block';
         
                		@if(s.getType.canSeeChildren){ document.getElementById('scene_@s.getId()').style.display = 'block'; }
                		document.getElementById('scenefolderclose_@s.getId').style.display = 'none';
                		document.getElementById('scenefolderopen_@s.getId').style.display = 'inline-block';
                		
          
                  		 ">
                  		 
                  		 
                  		 
                  		 @if(s.getType.getIcon != null){
                  		 	<i class="@s.getType.getIcon" id="scenefolderclose_@s.getId" style="display:inline-block;" ></i>
              		<i class="@s.getType.getIconOpen" id="scenefolderopen_@s.getId" style="display:none;" ></i>
           
                  		 	
                  		 } else {
              		<i class="icon-folder-close" id="scenefolderclose_@s.getId" style="display:inline-block;" ></i>
              		<i class="icon-folder-open" id="scenefolderopen_@s.getId" style="display:none;" ></i>
              }
              
              
 				<div id="listscenename@s.getId" style="display:inline-block; width:65%;  white-space: nowrap;  overflow: hidden;  position:relative; top:5px;">
	              	@s.getName()
              	</div>
              	  
             @if(a_part.isDeletable){
             	
              <i class="icon-minus-sign"  style="display:inline-block;" onClick="javascript:deleteItem('Part',@a_part.getId,'scene',@s.getId)"></i>
              
            }
              	</div>
              	
              	
              	
              	
              	@if(s.getType.canSeeChildren){
              	<div class= "missioninview" style="display:none; margin-left:20px;" id="listscenesubmissions@s.getId">
              	
              	
              	 @for(s_part <- s.getParts()){
              	
              	@if(!s_part.isScene()){
              		
              		  @defining(s_part.getMission()) { ms =>
               
              
               
             <div class="missioninview" id="listmission@ms.getId">  
                        
             
               <div class="missionlink" onClick="javascript:hideAddEditMissions();document.getElementById('missionedit@ms.getId()').style.display = 'block';" >
               <i class="icon-file" style="display:inline-block;"></i>
				 <div id="listmissionname@ms.getId" style="display:inline-block; width:65%;  white-space: nowrap;  overflow: hidden;  position:relative; top:5px;">
               
               @ms.getName()
               </div>
             
             @if(s_part.isDeletable){
             <i class="icon-minus-sign" style="display:inline-block;" onClick="javascript:deleteItem('Part',@s_part.getId,'mission',@ms.getId)"></i> 
            }
              </div>
              
                           
              </div>
            
            
               }
              		}
              	
              			}
                           
              			  </div>
              	
              			
              			
              	}
              	
              	
              	
              		
              		
              		
              		
              		}
              		
              		}
      </div>