@(g:Game, c:models.GameParts.Content,m:models.GameParts.Mission)

@import models.GameParts._
@import util.Global

        			<div id="acontentinmissioneditlist@c.getId()_@m.getId()">
        	
        		@if(c.getType().canHaveSubContent()){
   	
        		<hr/>
        	<span id="listcontentname@c.getId" class="onclicklink" onClick="document.getElementById('contentedit@c.getId').style.display = 'block';">
        	@c.getType.getName()
        	</span>
        	    <i onClick="javascript:deleteContentFromMission(@m.getId,@c.getId)" class="icon-minus-sign"></i>
        	
        		<br/>
        		
        		<div id="contentincontentcontainer@c.getId" name="contentincontentcontainer@c.getId">
        		 @for(sc <- c.getSubContents()){
        		 
        		 	@editor_acontentincontent(g,sc,c)
        		 	}
        		</div>
        		       <br/><div class="floatright"><i class="icon-plus-sign" onClick="javascript:document.getElementById('contentnew_c@c.getId()').style.display='block';"></i>    </div>
        		<hr/>
        		
        		
        		
        	} else {
       
        <span id="listcontentname@c.getId" class="onclicklink" onClick="document.getElementById('contentedit@c.getId').style.display = 'block';">@c.getType.getName()<i class="icon-wrench"></i></span>
        <div class="floatright"><i onClick="javascript:deleteContentFromMission(@m.getId,@c.getId)" class="icon-minus-sign"></i> </div>
   		
   		
   
   
   
   @if(!m.getType().getXMLType().equals("MetaData")){
              				 
              				 <textarea id="contentvaluename2_@c.getId"
              				onchange="javascript:syncName('contentvalue',@c.getId,2); textareaLengthCheck('contentvaluename2_@c.getId' ,'counter_contentvaluename2_@c.getId');"
              				onkeyup="document.getElementById('status2_contentvaluename@c.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png")'; textareaLengthCheck('contentvaluename2_@c.getId' ,'counter_contentvaluename2_@c.getId');"
              				 rows = "3" cols = "80">@c.getContent</textarea>
              				    		        <span id="counter_contentvaluename2_@c.getId">@if(c.getContent != null){ @c.getContent.length() } else { 0 } </span>
              				 
   		        <img id="status2_contentvaluename@c.getId" src="@Global.SERVER_URL_2@routes.Assets.at("img/synced.png")" />
   		
   		
   		}
   		
   		
   		   @for(a <- c.getAllAttributes){
									     				
									        				@if(a.isEditable){
									        				
									        				@if(a.isVisibleInParent()){
									       
									        @editor_acontentsettingfield(g,c,a)				
									        				
									        			}	}
									        			
									        			}
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		<br/>
   		}
   		</div>