@(g: Game)




    
	<div class="missionedit" id="xmlview" name="xmlview" style="display:none">
			 				              				<div  class="scrollable-content" style="overflow-y:auto; overflow-x:hidden; height:100%; width:100%;">
	
<div class="options">
 					<i class="icon-resize-full" onClick="javascript:toggleFullscreen('xmlview','90%','75%','120px','5%','35px')"></i>
 					<i class="icon-remove" onClick="javascript:document.getElementById('xmlview').style.display = 'none';deactiveFullscreen('xmlview','90%','75%','120px','5%','35px'); hideAddEditMissions();"></i></div>
              				              				
              			
              			
              			
              			
              			
              			<div style="max-width:90%;" id="xmlcontainer">@Application.getLanguage("Noch nicht gespeichert.")</div>
              			
              			
              				              				
              	</div>
              	
              	</div>