@(x:String)

@import util.Global;

@if(x != null){

		@if(x.contains(".png")){
         		<div style="width:100px; height:100px; background-image:url('@x') !important; background-repeat: no-repeat; background-size:contain !important; display:inline-block"></div>
         		
         		
         	
         		
         	} else {
         	
         	
         	
         	
         	@if(x.contains(".jpg")){
         		<div style="width:100px; height:100px; background-image:url('@x') !important; background-repeat: no-repeat; background-size:contain !important; display:inline-block"></div>
         		
         	
         	} else{
         	
         	
         	
         @if(x){
         	
         	} else {
				Aktuelle Datei anzeigen
         	}
         	}
         	}
         	}
									      