@* editor_newcontentinmission Template File *@
@(g:Game,m:models.GameParts.Mission)


           
	<div class="inneredit" id="contentnew_@m.getId()" name="contentnew_@m.getId()">
			 				              				<div class="scrollable-content" style="overflow:auto; height:100%; width:100%;">
	
									        				<div class="options">
									        				
									        				<i class="icon-resize-full" onClick="javascript:toggleFullscreen('contentnew_@m.getId()','90%','60%','200px','5%','25px')"></i>
									        				<i class="icon-remove" onClick="javascript:document.getElementById('contentnew_@m.getId()').style.display = 'none';deactiveFullscreen('contentnew_@m.getId()','90%','60%','200px','5%','25px')"></i>
									        				
									        				</div>   	
              	        		
              				              		
              			              	<input type="text" id="contentnew_name@m.getId()" class="h2textfield" value="Neuer Inhalt">
              				              		<br/>
              				              		<em>in Seite @m.getName()</em>
           
              	
              	
              				              		 <label>Inhaltstyp</label>
             <select id = "contenttype_@m.getId()">
              @for(ctype <- m.getType.getPossibleContentTypes){
               <option value = "@ctype.getId()">@ctype.getName()</option>
               }
             </select>
              				
              				
              				
              				
              				 <div class="btn btn-success" onClick="newContentInMission(@m.getId())">Hinzufügen</div>
              
         
              				
              				
              				
              				
              		</div>		
              				
              				
              					
  </div>	