@(g:Game,s:models.GameParts.Scene)
@import util.Global

@if(s != null && s.getType != null){
	<div class="missionedit" id="sceneedit@s.getId()" name="sceneedit@s.getId()">
 		<div class="scrollable-content" style="overflow:auto; height:100%; width:100%;">
 			<div class="options">
 				<i class="icon-resize-full" onClick="javascript:toggleFullscreen('sceneedit@s.getId()','90%','75%','120px','5%','35px')"></i>
 				<i class="icon-remove" onClick="javascript:document.getElementById('sceneedit@s.getId()').style.display = 'none';hideInnerMissions('sceneedit@s.getId()');deactiveFullscreen('sceneedit@s.getId()','90%','75%','120px','5%','35px');"></i>
 			</div>
            <input 	type="text" class="h2textfield" id="scenename@s.getId" value="@s.getName()"
              		onchange="javascript:syncName('scene',@s.getId)" onkeydown="document.getElementById('status_scenename@s.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png")';">
            <img id="status_scenename@s.getId" src="@Global.SERVER_URL_2@routes.Assets.at("img/synced.png")" />
            <br />
            <p class="missionviewtext">
            	<em>@s.getType.getName
            		@if(s.getHotspots.size <2){ 
              			@for(hs <- s.getHotspots){
              				<i class="icon-map-marker" style="display:inline-block;" onClick="javascript:hideAddEditMissions();panTo('marker[@hs.getId]');popups[@hs.getId()].openOn(map);"></i>
						}
              		}
              	</em>
      		</p>
            <p>Optionen:<a href="@Global.SERVER_URL_2/editor/@g.getId()/duplicate/scene/@s.getId()">
				<icon class="icon-share" style="display:inline-block;"></icon> Duplizieren</a>
              	@if(s.getFirstMission() != null){
              		<span  style="cursor:pointer;" onClick="javascript:startUnityPreview('@Global.SERVER_URL_2/editor/@g.getId/webxml/@s.getFirstMission().getId()');"><icon class="icon-play" style="display:inline-block;"></icon> Vorschau</span>
              	}
      		</p>
    		<br/>
              				
			<div class="accordion" id="accordion2">
				@if(s.hasPossibleParts()){
					@if(s.getType() != null){
						@if(s.getType().canSeeMissions()){
							@if(s.showMultipleAchordions()){  
								<div class="accordion-group">
    								<div class="accordion-heading">
      									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne@s.getId">Seiten</a>
    								</div>
    								<div id="collapseOne@s.getId" class="accordion-body collapse in">
      									<div class="accordion-inner">
							} else {
								<h3>Seiten</h3>
							}
							@for(s_part <- s.getParts()){
				              	@if(!s_part.isScene()){
								@defining(s_part.getMission()) { ms =>
									<div class="missioninview" id="listmission@ms.getId">  
						               	<div class="missionlink" style="display:inline-block;" id="listmissionname@ms.getId"  onClick="javascript:openMission(@ms.getId())" > @ms.getName()
						            	</div>
						          		@if(s_part.isDeletable){
						          			<div class="floatright">
						               			<i class="icon-minus-sign" onClick="javascript:deleteItem('Part',@s_part.getId,'mission',@ms.getId)"></i>
						               		</div>
						      			}
									</div>
								}
								}
							}
							<br/>
							<br/>
       						<i class="icon-plus-sign" onClick="javascript:hideAddEditMissions();document.getElementById('missionnew_scene@s.getId').style.display = 'block';"></i>    
         
							@if(s.showMultipleAchordions()){       			
										</div>
  									</div>
  								</div>
  							}
						}
					}
				}
  
  				@if(s.hasPossibleHotspots()){
					 @if(s.getHotspots.size > 1){
						@if(s.showMultipleAchordions()){  
 							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo@s.getId">Hotspots</a>
    							</div>
   								<div id="collapseTwo@s.getId" class="accordion-body collapse">
      								<div class="accordion-inner">
						} else {
     						<h2>Hotspots</h2>
						}
  
						@for(hs <- s.getHotspots){
							<div class="missionlink" id="listhotspot@hs.getId" onClick="javascript:panTo('marker[@hs.getId()]'); popups[@hs.getId()].openOn(map);">
								<i class="icon-map-marker" style="display:inline-block;"></i>
								<div style="display:inline-block; width:65%;  white-space: nowrap;  overflow: hidden;  position:relative; top:5px;">
									@hs.getName 
								</div>
							</div>
							</br>
						}
      
						@if(s.showMultipleAchordions()){  
    								</div>
  								</div>
  							</div>
  						}
					}
				}
  
				@if(s.hasAttributeTypes()){
				@if(s.showMultipleAchordions()){  
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree@s.getId">Einstellungen für Unterseiten</a>
    					</div>
    					<div id="collapseThree@s.getId" class="accordion-body collapse">
      						<div class="accordion-inner">
				} 
    
				@scene_attributes(s)

				@if(s.showMultipleAchordions()){  
							</div>
						</div>
					</div>
  				}
			}
  
		</div>
	</div>
</div>
}