@(g: Game)

@import models.GameParts._
@import util.Global



 <a class="brand" href="@Global.SERVER_URL_2">
          
          <div id="tabletlogo">
          <div  class="mouseover" style="width:150px;  height:30px; position:absolute; top:10px; height:50px;" onClick="javascript:window.location.href = '@Global.SERVER_URL_2';" > </div>	
	<object style="z-index: 5001; display:inline-block; position:relative; top:0px; height:30px; width:150px; " data="@Global.SERVER_URL_2@routes.Assets.at("img/geoquestlogo.svg")" type="image/svg+xml">
									<img width="100" height="20" src="@Global.SERVER_URL_2@routes.Assets.at("img/geoquestlogo.png")" alt="">
</object>

				</div>				

</a>

<div id="navbarbutton" onclick="javascript:document.getElementById('navbar').style.display='block';document.getElementById('navbarviewbutton').style.display='none';">Hauptmenü</div>

<div id="missionviewbutton" onclick="javascript:document.getElementById('missionview').style.display='block';document.getElementById('missionviewbutton').style.display='none';">Objekte-Übersicht</div>



<div id="missionview">

		 				              				<div class="scrollable-content" style="overflow-y:auto; overflow-x:auto; height:100%; width:100%;">

<div style="height:80px"></div>
	<div class="options">
 					<i class="icon-remove" id="missionviewclose" onClick="javascript:document.getElementById('missionview').style.display = 'none';document.getElementById('missionviewbutton').style.display='block'; "></i></div>
              				
              				
<div id="missionsreiter" style="position:fixed; padding:2px; background-color:#FFFFFF !important; z-index:100000000; width: 100%; height: 60px; top: 80px; text-align:left;">
<br/>
<img src="@Global.SERVER_URL_2/assets/icons/pages.png" style="cursor:pointer; " width="30" onClick="javascript:document.getElementById('missionsonly').style.display='block'; document.getElementById('hotspotsonly').style.display='none'; document.getElementById('settingsonly').style.display='none'; document.getElementById('menuitemsonly').style.display='none'; "/>

<img src="@Global.SERVER_URL_2/assets/icons/hotspots.png" style="cursor:pointer; margin-left:20px;" width="30" onClick="javascript:showMapView(); document.getElementById('missionsonly').style.display='none'; document.getElementById('hotspotsonly').style.display='block'; document.getElementById('settingsonly').style.display='none'; document.getElementById('menuitemsonly').style.display='none'; "/>


<img src="@Global.SERVER_URL_2/assets/icons/pages.png"  width="30"  style="display:none !important;" class="icon-tags" onClick="javascript:document.getElementById('missionsonly').style.display='none'; document.getElementById('menuitemsonly').style.display='block'; document.getElementById('settingsonly').style.display='none'; document.getElementById('hotspotsonly').style.display='none';  " />


<img src="@Global.SERVER_URL_2/assets/icons/settings.png" style="cursor:pointer; margin-left:20px;" width="30" onClick="javascript:document.getElementById('missionsonly').style.display='none'; document.getElementById('hotspotsonly').style.display='none'; document.getElementById('settingsonly').style.display='block'; document.getElementById('menuitemsonly').style.display='none'; " />





</div>
<br/><br/>


<div id="missionsonly">
              <h3>Seiten</h3>

<div id="missionlist">

              @editor_sidemenu_missionlist(g)
             
</div>
      <br/><br/>
         
         <div >
              
                      		          <div class="btn-group">
					
					
					
							
					
  <a class="dropdown-toggle" id="actiondropdown_g@g.getId()" style=" cursor:pointer;" data-toggle="dropdown" ">
    
                <img src="@Global.SERVER_URL_2/assets/icons/neue_seite.png" width="120"  style="cursor:pointer;"/>

  </a>




  <ul class="dropdown-menu" >
   
   
   
      			@for(a_ptype <- g.getType.getPossiblePartTypes){
             	@if(!a_ptype.isSceneType){
             		
             			@defining(a_ptype.getMissionType) { a_mtype =>
               
               
               
                             			   	<li><a tabindex="-1" style="cursor:pointer;" onClick="addNewObject('mission_@a_mtype.getId()')">@a_mtype.getName()</a></li>
               
               
               
               }
               }
               }
              			           			
              				@if(g.getType.getPossibleMissionTypes.size() > 0 && g.getType.getPossibleSceneTypes.size() > 0){  <li>&nbsp;</li>   }    
              				
              @for(a_stype <- g.getType.getPossibleSceneTypes){
               
               @if(a_stype.getDefaultHotspots().isEmpty()){
               	
             <li><a tabindex="-1" style="cursor:pointer;" onClick="addNewObject('scene_@a_stype.getId()')"> <i class="@a_stype.getIcon()"></i>@a_stype.getName()</a></li>
               	
              
               }
               
               }
   
   
              			
   
  
   
   
   
   
   
   
   
  </ul>
</div>
              
              </div>
         
           
         
</div>







<div id="hotspotsonly" style="display:none;">
              <h3>Hotspots</h3>

<div id="hotspotlist">

          
          
          
          
@for(hs <- g.getHotspots){
 @editor_ahotspotinsidemenu(g,hs)
}
            		         
             
             
</div>
            
            
            
</div>





<div id="menuitemsonly" style="display:none;">
              <h3>Menü-Items</h3>

<div id="menuitemlist">

          
          
          
          
@for(mi <- g.getMenuItems){
 @editor_amenuiteminsidemenu(g,mi)
}
            		         
             
             
</div>
            
       <br/><br/>
            <i class="icon-plus-sign" onClick="javascript:hideAddEditMissions();document.getElementById('menuitem_new').style.display = 'block';"></i>    
        
            
</div>





<div id="settingsonly" style="display:none;">
              <h3>Einstellungen</h3>
              
        
              
              
              	@for(a <- g.getType.getAttributeTypes){
									        				
									        				@if(a.isEditable){
									        				
									        				 
       @a.getName
       <br/>
          
									        @if(a.getFileType == "String"){
									        
									        <input style="display:block; width:80%;" type="text"/ value="@g.getAttributeValue(a)" id="gameat@g.getId@a.getId" onchange="javascript:syncAttr('game',@g.getId,@a.getId)" onkeydown="document.getElementById('status_gameat@g.getId@a.getId').innerHTML = 'waiting...';">
									        
									        }
									        
									        
									        @if(a.getFileType == "TextArea"){
									        	<textarea id="gameat@g.getId@a.getId" 
              			onchange="javascript:syncAttr('game',@g.getId,@a.getId)"
              			 onkeydown="document.getElementById('status_gameat@g.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png");"
              				 rows = "3" cols = "80">@g.getAttributeValue(a)</textarea>
              				 
              				 
              				 									        
									        }
									        
									        
									         @if(a.getFileType == "Color"){
									        
									        <input style="display:block; width:80%;" type="color"/ value="@g.getAttributeValue(a)" id="gameat@g.getId@a.getId" onchange="javascript:syncAttr('game',@g.getId,@a.getId)" onkeydown="document.getElementById('status_gameat@g.getId@a.getId').innerHTML = 'waiting...';">
									        
									        
									        }
									        
									          @if(a.getFileType == "expression"){
        
											<input style="display:block; width:80%;" type="text"/ value="@g.getAttributeValue(a)" id="gameat@g.getId@a.getId" onchange="javascript:syncAttr('game',@g.getId,@a.getId)" onkeydown="javascript:document.getElementById('status_contentat@g.getId@a.getId').innerHTML = 'waiting...';">
																				        
											}
									         
									        @if(a.getFileType == "int"){
									        
									        <input style="display:block; width:80%;" type="number"/ value="@g.getAttributeValue(a)" id="gameat@g.getId@a.getId" onchange="javascript:syncAttr('game',@g.getId,@a.getId)" onkeydown="document.getElementById('status_gameat@g.getId@a.getId').innerHTML = 'waiting...';">
									        
									        }
									        
									        @if(a.getFileType == "boolean"){
									        
									        <input style="display:block; width:80%;" type="checkbox"/ id="gameat@g.getId@a.getId" @if(g.getAttributeValue(a) == "true"){ checked = "checked" } onchange="javascript:syncAttr('game',@g.getId,@a.getId)" >
									        
									        }
									        
									         @if(a.getFileType == "mission"){
									        
									        
									          <select style="display:block; width:80%;" class="missionselector" id = "gameat@g.getId@a.getId" onchange="javascript:syncAttr('game',@g.getId,@a.getId)" >
             
             <option value="0" ></option>
              		@for(pm <- g.getAllMissions()){
              			   <option  value = "@pm.getId()" @if(g.getAttributeValue(a).equals(String.valueOf(pm.getId()))){ selected="selected" } >@pm.getName()</option>
              			
              			
              		}   </select>
									        
									        
									        }
									        
									               @if(a.getFileType == "hotspot" || a.getFileType == "hotspotstring"){
									        
									        
									          <select id = "gameat@g.getId@a.getId" class="hotspotselector" onchange="javascript:syncAttr('game',@g.getId,@a.getId)" >
             
          
             <option value="0" ></option>
             
             
              		@for(pm <- g.getAllHotspots()){
              			   <option  value = "@pm.getId()" @if(g.getAttributeValue(a).equals(String.valueOf(pm.getId()))){ selected="selected" } >@pm.getName()</option>
              			
              			
              		}   </select>
									        
									        
									        }
									        
									        
									        
									         @if(a.getFileType == "file"){
									         	
									         	
									         	<a href="@g.getAttributeValue(a)" target="_blank">Aktuelle Datei anzeigen</a>
									         	
									        <br/>
									        <input style="display:block; width:80%;" type="file"/ id="upload@a.getId" onchange="javascript:uploadFile('game',@g.getId,@a.getId)" >
									           
									                <img id="status_upload@a.getId" src="@Global.SERVER_URL_2@routes.Assets.at("img/synced.png")" />
									        
									        
									        }
									        
									         @if(a.getFileType != "file"){
									        									                <img id="status_gameat@g.getId@a.getId" src="@Global.SERVER_URL_2@routes.Assets.at("img/synced.png")" />
									        
									        
									        }
									        
									        
									        
									        				
									        				}
									        				<br/><hr><br/>
									        				}
									        				
    
    
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
             </div>
   </div>
    
    
    </div>
