@(g: Game)




    
	<div class="missionedit" id="menuitem_new" name="menuitem_new" style="display:none">
			 <div class="scrollable-content" style="overflow:auto; height:100%; width:100%;">
	
<div class="options">
 					<i class="icon-resize-full" onClick="javascript:toggleFullscreen('menuitem_new','90%','75%','120px','5%','35px')"></i>
 					<i class="icon-remove" onClick="javascript:document.getElementById('menuitem_new').style.display = 'none';deactiveFullscreen('menuitem_new','90%','75%','120px','5%','35px');"></i></div>
              				              				
              				              				
              				              				<input type="text" id="menuitem_namenew" class="h2textfield" value="Hier Titel eingeben">
              			
              				              			
              						


             	              <div class="btn btn-success" onClick="newMenuItemInGame()">Hinzufügen</div>

              	</div>
              	
              	</div>
             