@* scene_attributes Template File *@
@(s: models.GameParts.Scene)
@import util.Global

@for(a <- s.getAllAttributes) {
	@defining(s.getAttributeValue(a)) { attributeValue =>
		<div class="scene-attribute" style="margin-bottom:10px">
		@if(a.isEditable){
		<div style="font-weight:bold; font-size:14px;">@a.getName()
			<img style="width:20px;height:20px;" id="status_sceneat@s.getId@a.getId" src="@Global.SERVER_URL_2@routes.Assets.at("img/synced.png")" />
		</div>
		<span>
			@if(a.getFileType == "String") {
				@if(a.hasPossibleValues()) {
					<select
						id="sceneat@s.getId@a.getId"
						onchange="javascript:syncAttr('scene',@s.getId,@a.getId)">
						<option></option>

						@for(pm <- a.getPossibleValues()) {
							<option
								value="@pm"
								@if(attributeValue.equals(pm)){ selected="selected" }
							>@pm</option>
						}
					</select>
				} else {
					@if(a.getMimeType().equals("area")) {
						<textarea
							rows="8" style="width:80%;" id="sceneat@s.getId@a.getId"
							onchange="javascript:syncAttr('scene',@s.getId,@a.getId); textareaLengthCheck('sceneat@s.getId@a.getId' ,'counter_sceneat@s.getId@a.getId');"
							onkeyup="document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png")'; textareaLengthCheck('sceneat@s.getId@a.getId' ,'counter_sceneat@s.getId@a.getId');"
						>@attributeValue</textarea>
		        		<span id="counter_sceneat@s.getId@a.getId">@attributeValue.length()</span>
					} else {
						@if(a.getName() == "Text") {
							<textarea rows="8" style="width:80%;"
								id="sceneat@s.getId@a.getId" onchange="javascript:syncAttr('scene',@s.getId,@a.getId); textareaLengthCheck('sceneat@s.getId@a.getId' ,'counter_sceneat@s.getId@a.getId');"
								onkeyup="document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png")'; textareaLengthCheck('sceneat@s.getId@a.getId' ,'counter_sceneat@s.getId@a.getId');"
							>@attributeValue</textarea>
							<span id="counter_sceneat@s.getId@a.getId">@attributeValue.length()</span>
						} else {
							<input style="display:inline-block" type="text"/
								value="@attributeValue" id="sceneat@s.getId@a.getId"
								onchange="javascript:syncAttr('scene',@s.getId,@a.getId)"
								onkeyup="document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png");"
							/>
						}
					}
				}
			}
			@if(a.getFileType == "StringList") {
     	    	<input type="hidden" value="@attributeValue" id="sceneat@s.getId@a.getId"  >
				@for(pm <- a.getPossibleValues()) {
        	    <input type="checkbox"/
					@if(s.listAttributeContainsKey(attributeValue,pm,false)){ checked = "checked" }
					onchange="javascript:toggleKeyInList('sceneat@s.getId@a.getId','@pm',false); syncAttr('scene',@s.getId,@a.getId); document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png")';" >@pm &nbsp;
				}
        	}
       	 	@if(a.getFileType == "QuoteStringList") {
    	        <input type="hidden" value="@attributeValue" id="sceneat@s.getId@a.getId"  >
       			@for(pm <- a.getPossibleValues()) {
       			<span class="attributelist">
        	    	<input type="checkbox"/
       	    		@if(s.listAttributeContainsKey(attributeValue,pm,true)) { checked = "checked" }/
       	    	   		onchange="javascript:toggleKeyInList('sceneat@s.getId@a.getId','@pm',true); syncAttr('scene',@s.getId,@a.getId); document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png")';" > @pm
				</span>
       			}
       		}
       		@if(a.getFileType == "QuoteString") {
     			<input type="text" value="@attributeValue" style="width:80%;"
					id="sceneat@s.getId@a.getId" onchange="javascript:syncAttr('scene',@s.getId,@a.getId,true)"
                	onkeyup="document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png");"
				/>
     		}
			@if(a.getFileType == "StringTextArea") {
      			<textarea rows="8" style="width:80%;" type="text" value="@attributeValue" id="sceneat@s.getId@a.getId" onchange="javascript:syncAttr('scene',@s.getId,@a.getId); textareaLengthCheck('sceneat@s.getId@a.getId' ,'counter_sceneat@s.getId@a.getId');"
                 	onkeyup="document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png")'; textareaLengthCheck('sceneat@s.getId@a.getId' ,'counter_sceneat@s.getId@a.getId');">@attributeValue</textarea>
      			<span id="counter_sceneat@s.getId@a.getId">@attributeValue.length()</span>
			}
      		@if(a.getFileType == "QuoteStringTextArea") {
				<textarea rows="8" style="width:80%;" type="text" value="@attributeValue" id="sceneat@s.getId@a.getId" onchange="javascript:syncAttr('scene',@s.getId,@a.getId,true); textareaLengthCheck('sceneat@s.getId@a.getId' ,'counter_sceneat@s.getId@a.getId');"
                	onkeyup="document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png")'; textareaLengthCheck('sceneat@s.getId@a.getId' ,'counter_sceneat@s.getId@a.getId');">@attributeValue</textarea>
     			<span id="counter_sceneat@s.getId@a.getId">@attributeValue.length()</span>
    		}
        	@if(a.getFileType == "int") {
  				<input type="number" value="@attributeValue" id="sceneat@s.getId@a.getId" onchange="javascript:syncAttr('scene',@s.getId,@a.getId)"
             		onkeydown="document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png");"/>
      		}
	        @if(a.getFileType == "boolean") {
	        	<input type="checkbox" id="sceneat@s.getId@a.getId" @if(attributeValue == "true"){ checked = "checked" } onchange="javascript:syncAttr('scene',@s.getId,@a.getId)" >
	        }
         	@if(a.getFileType == "file") {
	       		<div id="scenefile_file_at@s.getId@a.getId" style="display:inline-block; width:82%">
 	        	@if(attributeValue != "") {
 	        		@defining("Hochgeladenes Bild nicht gefunden") { imageNotFoundText => 
			        <a href="@attributeValue" target="_blank">
			       		<img src="@attributeValue" alt="@imageNotFoundText" width="20%"/>
					</a>
	         		}
		     	}
	       			<input type="file" id="scenefileat@s.getId@a.getId" style="width:50%;" onchange="javascript:uploadFile('scene',@s.getId,@a.getId)" >
	       			<a  onClick="javascript:document.getElementById('scenefile_file_at@s.getId@a.getId').style.display='none';document.getElementById('scenefile_text_at@s.getId@a.getId').style='display:inline-block; width:82%';">Variabel</a>
       			</div>
               	<div id="scenefile_text_at@s.getId@a.getId" style="display:none; width:82%">
  	        	@if(attributeValue != "") {
         			<a href="@attributeValue" target="_blank">@editor_athumbnail(attributeValue)</a>
         		}
					<input type="text" value="@attributeValue" style="width:50%;" id="sceneat@s.getId@a.getId" onchange="javascript:syncAttr('scene',@s.getId,@a.getId)" onkeydown="document.getElementById('status_sceneat@s.getId@a.getId').src = '@Global.SERVER_URL_2@routes.Assets.at("img/waiting.png");"/>
					<a onClick="javascript:document.getElementById('scenefile_text_at@s.getId@a.getId').style.display='none';document.getElementById('scenefile_file_at@s.getId@a.getId').style= 'display:inline-block; width:82%';">Datei</a>
              	</div>
			}
		</span>    
	}
	}
	</div>
}
