@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
    @import helpers._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.password.forgot.title")) {


	@helpers.form(routes.Signup.doForgotPassword(Application.getLocalPortal().getId())) {
	   
            @if(emailForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@emailForm.globalError.message</span>
		        </p>
            }
	   
	   @_emailPartial(emailForm)
           
		<input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes") !=""))>
	}

}