@(changeForm: Form[controllers.Account.PasswordChange])

@import helper._
    @import helpers._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.change.password.title")) {

	<p>
	@helpers.form(routes.Account.doChangePassword(Application.getLocalPortal().getId())) {
	   
       @if(changeForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@changeForm.globalError.message</span>
     	</p>
       }

	   @_passwordPartial(changeForm)
           
		<input type="submit" value="@Messages("playauthenticate.change.password.cta")" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes") !=""))>
	}
	</p>
}