@(reason: String)

@import util.Global
@import helper._
@import helpers._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@if(Application.getLocalPortal.getId() != 61L && Application.getLocalPortal.getId() != 1L){


@main("Error") {

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      
      
      @if(Global.securityGuard.hasAnyRightsOnPortal(Portal.getLocalUser()) == false) {
      	<br/><br/>
      
        <p>Anscheinend bist du nicht für dieses Portal freigeschaltet.</p>
         

         
          <p><a  href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doAddMeToPortal(Application.getLocalPortal().getId())">Mit diesem Account anmelden</a></p>
          <p><a  href="@Application.getLocalPortal.getTemplateServerURLDropSlash@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">Anderen Account benutzen</a></p>




      </div>







    } else {
    
        <p>Bitte habe noch ein wenig Gedud.<br/>
        Deine Anfrage befindet sich noch in der Bearbeitung.<br/>
        Solltest du nach einer Woche noch keine Antwort erhalten, melde dich bitte per E-Mail unter<br/>
        <a href="mailto:contact@@quest-mill.com">contact@@quest-mill.com</a></p>
    
    }
    
    }
    
    } else  {
    
    @if(Application.getLocalPortal.getId() == 61L){
    

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>geoquest</title>
<style type="text/css">
html,body {
    height:100%;
}
body,td,th {
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}
</style>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="icon" href="favicon.png" type="image/x-icon" />

</head>

<body link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


    
    
    
<div style="position:fixed; top:0px; left:0px; width:100%; height:100%; background-image:url(https://quest-mill.com/geoquest/bg_login.jpg); background-size:cover; z-index:0;"> &nbsp;
</div>



<div style=" position:absolute;
    top: 350px;
    left: 50%;
   
     opacity: 0.4;
    margin-top: -150px; /*set to a negative number 1/2 of your height*/
    margin-left: -200px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
     border-radius: 15px;
 padding:10px;
    width: 400px;
    height: 300px; 
    background-color: #f3f3f3;
   
    text-align:center;    z-index:1001;"> &nbsp;
    </div>
<div style=" position:absolute;
    top: 350px;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -150px; /*set to a negative number 1/2 of your height*/
    margin-left: -200px; /*set to a negative number 1/2 of your width*/
     border-radius: 15px;
 padding:10px;
    width: 400px;
    height: 300px; 
      z-index:1001;
    text-align:center; ">
    
    
    
    <img src="https://quest-mill.com/geoquest/logo.png" width="500" height="281" alt="geoquest" style=" position:absolute;
    top: -220px;
    left: 50%;
    margin-left:-250px;
    
   z-index:1000;" />
   
    
    	
        
        
  @if(Global.securityGuard.hasAnyRightsOnPortal(Portal.getLocalUser()) == false) {
      	
      <br/><br/>
        <p>Hallo @Portal.getLocalUser().getName(),<br/>
        Anscheinend bist du noch nicht für dieses Portal freigeschaltet.</p>
        <br/><br/>
          <p><a class="btn btn-primary" role="button" href="@Application.getLocalPortal.getTemplateServerURLDropSlash@routes.Portal.doAddMeToPortal(Application.getLocalPortal().getId())">Mit diesem Account anmelden</a></p>
          <p><a class="btn btn-primary" role="button" href="@Application.getLocalPortal.getTemplateServerURLDropSlash@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">Anderen Account benutzen</a></p>




      </div>







    } else {
    <br/><br/><br/>
        <p><b>Bitte habe noch ein wenig Gedud.</b><br/>
        Deine Anfrage befindet sich noch in der Bearbeitung.<br/>
        Solltest du nach einer Woche noch keine Antwort erhalten, melde dich bitte per E-Mail unter<br/>
        <a href="mailto:contact@@quest-mill.com">contact@@quest-mill.com</a></p>
    <br/>
              <p><a class="btn btn-primary" role="button" href="@Application.getLocalPortal.getTemplateServerURLDropSlash@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">Logout</a></p>
    
    }        



</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
    } else {
    
    
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>geoquest</title>
<link rel="icon" href="favicon.png" type="image/x-icon" />

<style type="text/css">
html,body {
    height:100%;
}
body,td,th {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}
</style>
<?php




if(isset($_GET['content'])) {
$url = $_GET['content'];

} else {
$url = "Start";	
	
	
}



?>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>

<body link="#000000" vlink="#000000" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">



    
    
    
<div style="position:fixed; top:0px; left:0px; width:100%; height:100%; background-image:url(https://quest-mill.com/geoquest/bg_login.jpg); background-size:cover; z-index:0;"> &nbsp;
</div>



<div style=" position:absolute;
    top: 150px;
    left: 50%;
   
     opacity: 0.8;
    margin-left: -200px; /*set to a negative number 1/2 of your width*/
  
 padding:10px;
    width: 400px;
    height: 300px; 
   color:#FFF;
    text-align:center;    z-index:1001;"> <img src="https://quest-mill.com/geoquest/private.png" height="200" />
    <h1>Diese Seite ist privat.</h1>
    </div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
    
    
    }
    
    
    
    }