@(signupForm: Form[_])

@import helper._
    @import helpers._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.signup.title"),"signup") {




        @* Display proprietary login form *@
    	@helpers.form(routes.Application.doSignup(Application.getLocalPortal().getId())) {
    	
            @if(signupForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@Application.getLanguage(signupForm.globalError.message)</span>
		        </p>
            }
            
             @inputText(
                signupForm("name"),
                '_label -> Application.getLanguage("Vor- und Nachname")
             )
             
             @_emailPartial(signupForm)
             
             
             (Name und E-Mail lassen sich später nicht ändern)
             <br/>  <br/>  <br/>
             
             @_passwordPartial(signupForm)
             
             @checkbox(
                signupForm("acceptedagbs"),
                             '_label -> ""
             
            )
            Ich akzeptiere die <u><span style="cursor:pointer; color:#0000FF;" onClick="javascript:window.open('@Application.getLocalPortal.getTemplateServerURLDropSlash/@Application.getLocalPortal().getId()/pagbs', 'MsgWindow', 'width=400, height=500');">AGBs</span></u>
              <br/><br/>
             @checkbox(
                signupForm("acceptedprivacy"),
                '_label -> ""

            )
            Ich akzeptiere die <u><span style="cursor:pointer; color:#0000FF;" onClick="javascript:window.open('@Application.getLocalPortal.getTemplateServerURLDropSlash/@Application.getLocalPortal().getId()/pprivacyagreement', 'MsgWindow', 'width=400, height=500');">Datenschutzvereinbarung</span></u>
<br/><br/>
            <input type="submit" value="@Application.getLanguage("GeoQuest-Account erstellen")" @Html(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes").when(Application.getLocalPortal.getParameter(Application.getLocalPortal.getContentHtmlId(),"general.button.attributes") !=""))>
    	}
    	
    		
    		<span>powered by &nbsp;&nbsp; </span><img width="200" src="https://quest-mill.com/geoquest/logo_wide.png">
    		
    	


    <div class="span3" style="display:none">
        @Messages("playauthenticate.signup.oauth")
        @* Display list of available providers *@
        @_providerPartial(skipCurrent=false)
    </div>



}