       <body>

           <replace1></replace1>

<geoquesttest id="1">

%%_GEOQUEST_NAV_LI_%%{li.attributes:=!!" TESTING_LI_ATTRIBUTES "!!}

<geoquesttest id="2">


Geo_Content:%%_GEOQUEST_CONTENT_CODE_START_%%{ %general.button.attributes:=!!" TESTING_GENERAL_BUTTON "!!;;}

<geoquesttest id="3">


Geo_Portal_Titel:%%_GEOQUEST_PORTAL_NAME_%%

    <geoquesttest id="4">


%%_GEOQUEST_SERVER_VERSION_%%

    <geoquesttest id="5">


%%_GEOQUEST_USER_INFO_%%

    <geoquesttest id="6">

Geo_Content_Titel:%%_GEOQUEST_CONTENT_TITLE_%%

    <geoquesttest id="7">

%%_GEOQUEST_CONTENT_CODE_END_%%
    <geoquesttest id="8">


%%_GEOQUEST_DEFAULT_COLOR_%%
    <geoquesttest id="9">

    <meta name='%%_GEOQUEST_HEADER_FUNCTIONS_%%'>

        <geoquesttest id="10">

%%_GEOQUEST_SERVER_URL_%%

    <geoquesttest id="11">

        <replace2 id="test"></replace2>

  </body>